/build/
/build-host/
/factory_seed/
/.pio/
/samples/*/.pio/
/samples/*/managed_components/
/samples/*/sdkconfig.package
/samples/*/sdkconfig
/samples/*/sdkconfig.old
/sdkconfig.watchy_v2
/.cache/
/.superpowers/
/.worktrees/
sdkconfig
sdkconfig.old
managed_components/
__pycache__/
*.pyc
*.wpk
*.elf
!sdk/ld/*.o
