/build/
/build-host/
/.pio/
/samples/*/.pio/
/samples/*/managed_components/
/samples/*/dependencies.lock
/samples/*/sdkconfig.package
/samples/*/sdkconfig
/samples/*/sdkconfig.old
/sdkconfig.watchy_v2
/.cache/
/.superpowers/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock
__pycache__/
*.pyc
*.wpk
*.elf
!sdk/ld/*.o
